#main{
    font-size: 0.25rem;
}
#main .title{
    height: 40px;
    background: #eeeeee;
    align-items: center;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
#main .title .title_name{
  width: 40%;
}
#main  .icon{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    color: #049588;
}
#main .icon i:hover{
    color: #666 ;
}
#main .content ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid #eeeeee 1px;
}
#main .content ul li .name{
    width: 100px;
    margin-left: 8px;
}
#main .content ul li .value{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    color: #555;
    margin-right: 10px;
}
.el-message-box{
    width: 90%;
}
#main .bghidden{
     position: fixed;
     z-index: 999;
     top: 0;
     left: 0;
     background: rgba(240,240, 240, 0.5);
     width: 100%;
     height: 100%;
     overflow: hidden;
 }
#main .bghidden .cont{
    padding-top: 20px;
    max-width: 100%;
    max-height: 80%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
}
#main .bghidden .cont .title{
    width: 100%;
    justify-content: center;
}
.el-select {
    width: 100%;
}
#main .bghidden .cont .bottom{
    width: 100%;
    text-align: center;
    margin-top: 10px ;
}
#main .bgloading{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(200,200,200,0.5);
    z-index: 999;
}
#main .bgloading .con{
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.el-collapse-item__header{
    display: flex;
    align-items: center;
}
.el-collapse-item__header span {
  width: 100%;
    text-align: right;
    padding-right: 10px;
    color:#049588;
}
.el-button:focus, .el-button:hover {
    color:#049588;
    border-color: #049588;
}
.el-select-dropdown__item.selected {
    color: #fff;
    background-color: #049588;
}
.el-select-dropdown__item.selected.hover {
    background-color: #049588;
}
.el-radio__input.is-checked .el-radio__inner {
    border-color: #049588;
    background:  #049588;
}
.el-textarea__inner:focus {
    outline: 0;
    border-color: #049588;
}

.el-input__inner:focus {
    outline: 0;
    border-color: #049588;
}

.el-select .el-input__inner:focus {
    border-color:#049588;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color:#049588;
    border-color:#049588;
}
.el-button--primary {
    color: #fff;
    background-color:#049588;
    border-color:#049588;
}
.el-button--primary:focus, .el-button--primary:hover {
    background-color:#049588;
    border-color:#049588;
    color: #fff;
}
.el-checkbox-group{
    display: flex;
    flex-wrap:wrap;
}
.el-checkbox{
    margin-left: 0px;
    min-width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.el-checkbox+.el-checkbox {
    margin-left: 0px;
}